.App {
  background: linear-gradient(rgba(159, 158, 158, 0.2), rgba(144, 143, 143, 0.2)),url("./image/logisticImage.jpg")no-repeat;
  background-size: cover;
}

.container {
  /* min-height: 83vh; */
  margin: 0 auto;
  max-width: 1320px;
  
}

.disclaimer {
  font-size: 107%;    /* aumenta a fonte */
  font-weight: bold;
  text-align: center;   /* centraliza */
  margin-top: 20px;     /* espaço acima */


}
